astromartini==2.0.2
astromartini==2.0.9
astropy==5.1.1
astropy==5.2.2
casatasks==6.5.5.21
casatasks==6.6.3.22
casatools==6.5.5.21
casatools==6.6.3.22
dask==2023.5.0
distributed==2023.5.0
h5py==3.9.0
h5py==3.11.0
hdecompose==0.1.0
illustris_python==1.0.0
matplotlib==3.7.2
matplotlib==3.7.5
multiprocess==0.70.16
natsort==8.4.0
nifty8==8.4
numpy==1.24.4
pandas==2.0.3
photutils==1.12.0
psutil==5.9.5
psutil==5.9.8
pyvo==1.5.1
radio_beam==0.3.4
radio_beam==0.3.7
scikit_learn==1.3.2
scipy==1.13.0
six==1.16.0
spectral_cube==0.6.2
spectral_cube==0.6.5
tqdm==4.66.1
tqdm==4.66.2
