# ALMASim required package list
numpy
h5py
six
astropy == 5.1.1
scipy
matplotlib
pandas
tqdm
h5py
hdecompose
spectral-cube
astromartini
dask
dask[distributed]
distributed
natsort
casatools == 6.5.5.21
casatasks == 6.5.5.21
casadata == 2023.4.10
nose
coverage
