sphinx
sphinx-rtd-theme
recommonmark
numpydoc
numpy
scipy
astropy == 5.1.1
tqdm
matplotlib
pandas
hdecompose
spectral-cube
astromartini
dask
dask[distributed]
distributed
natsort
casatools == 6.5.5.21
casatasks == 6.5.5.21
casadata == 2023.4.10
nose
coverage